# --- Existing Gitignore ---
node_modules/
dist/
.next/
.DS_Store
.env
.env.*
tsconfig.tsbuildinfo

# --- DATABASE & DOCKER DATA ---
# Chặn toàn bộ dữ liệu database thực tế
docker/mongodb/mongo-data/
docker/garage/data/
docker/garage/meta/

# Chặn logs của MongoDB Shell
docker/mongodb/mongo-data/.mongodb/

# Logs chung
*.log
npm-debug.log*