services:
  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: always
    volumes:
      - ./mongo-data:/data/db
    ports:
      - "27017:27017"
    command: mongod --replSet rs0
    healthcheck:
      test: echo "db.runCommand('ping').ok" | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - MONGO_REPLICA_SET=rs0

  mongo-init:
    image: mongo:8.0
    depends_on:
      mongo:
        condition: service_healthy
    entrypoint: >
      mongosh --host mongo:27017 --eval
      "rs.initiate({
        _id: 'rs0',
        members: [{ _id: 0, host: 'mongo:27017' }]
      })"
